@page "/"
@namespace TD.BlazorTestApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TD.BlazorTestApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>
        windows.convertArray = (win1251Array) => {
            var wind1251decoder = new TextDecoder('windows-1251');
            var bytes = new Uint8Array(win1251Array);
            console.log(decodedArray);
            return decodedArray;
        };
    </script>
    <script src="exampleJsInterop.js"></script>
    <script>
        window.handleTaskChanged = (taskid, desc) => {
            return 'Task 1 id is 101, description of task is to complete writing a melody';
        };
    </script>
</body>
</html>
