@page "/"

<h1>Simple To Do List Directory!</h1>

These are the To Do Lists for 1 March 2021 
<li> Quiet Time </li>
<li> Work </li>
<li> Reading </li>

<p> Track the progress of your To Do Lists for previous days</p>
