@page "/WeekTask"
<h3>WeekTask</h3>

<td>
    <th>Task ID </th>
    <th>Work Day </th>
    <th>Task Name </th>
    <th> Category </th>
    <th> Number of People working on Task </th>
    <th> Status of task  </th>
</td>
