@page "/"
@using System.IO;
@using Microsoft.AspNetCore.Hosting;


<h1>Test Environment</h1>
<h2>.NET 5.0 BlazorFile Input </h2>
<p> Investigating the <b>InputFile</b> component</p>

<div>
    <div class="inputArea">
        @*<InputFile id ="inputDefault"
                           onChange="OnInputFileChange"
                           accept="image/png, image/gif, image/jpeg"/>
            </div>
            <div class="dropArea @dropClass">
                Drag and drop your files here or click to open file loading dialogue...
                <InputFile id="inputDrop"
                           onChange="OnInputFileChange"
                           @ondragend="HandleDragEnter"
                           @ondragleave="HandleDragLeave"
                           multiple />*@
    </div>

</div>